{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="container main login-page">
        <div class="login-card">
            <h1>Créer un compte</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.postalAdress) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                    <button class="password-toggle" type="button" data-password-toggle="{{ registrationForm.plainPassword.vars.id }}">
                        afficher le mot de passe
                    </button>
                </div>
                {{ form_row(registrationForm.agreeTerms) }}

                <div class="login-actions">
                    <button type="submit" class="btn btn-primary">créer mon compte</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
